h1 p{
    color: red;
}
h1{
    color: #0619e9;
}
body{
    background-color: aqua;
}
h2{
    color: purple;
    font-style: italic;
}
button{
    background-color: black;
    color: white;
    border-radius: 30px;
}
button:hover{
    background-color: white;
    color: black;
    font-size: 14.5px;
    border: 2px solid #0619e9;
}