.appMain {
  background-color: #7ff0d2;
  text-align: center;
  /* margin: 200px; */
  padding: 50px;
}

.appMain button {
  /* padding: 10px 20px; */
  height: 45px;
  width: 100px;
  margin-left: 5px;
  color: white;
  background-color: #313131;
  border: 1px solid white;
}

.appMain button:hover {
  color: white;
  background-color: #172f44;
  /* border: 1px solid rgb(105, 104, 104); */
}

.appMain input {
  margin: 10px;
  height: 40px;
  width: 400px;
  text-align: center;
  /* border: 0px solid black; */
  font-size: 20px;
}

.appMain h1 {
  color: white;
}

.limit {
  color: white;
  font-weight: bold;
}

.warning {
  color: red;
  font-weight: bold;
}

.taskCount {
  color: white;
  font-size: 16x;
}
