body {
    position: relative; /* Eklenen katmanın konumu belirlensin */
    background-image: url('../img/wallpapergiris.jpg');
    background-repeat: repeat;
    color: white;
}

body::before {
    content: "";
    position: absolute; /* İçeriği yerleştirme */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.575); /* Siyah rengi %50 opaklıkta */
    z-index: -1; /* Arkaplan resminin altında olacak */
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.maindiv {
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Inputları dikey olarak sıralamak için */
    align-items: center; /* Yatayda merkezlemek için */
}

.maindiv h1{
   
    text-align: center;
}
.denemeh1{
    position: absolute;
    top: 2em;
    margin-left: 1em;
}
.denemebutton{
    position: absolute;
    top: 2em;
    margin-left: 1em;
}
.maindiv input {
    margin-bottom: 30px; /* Inputlar arasına boşluk eklemek için */
    padding: 10px;
    width: 95%; /* Inputların genişliğini ayarlamak için */
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    border: 1px solid hsl(246, 25%, 77%);
    text-align: center;
  }

.maindiv .button {
    padding: 10px;
    min-width: 100%;
    margin-top: 20px;
    background-color: hsl(154, 59%, 51%);
    border: 0;
    border-radius: 6px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1rem;
    cursor: pointer;
  }
.maindiv .button:hover, .button:active, .button:focus{
    background-color: hsl(155, 55%, 63%);
}