@import url("https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@600&display=swap");

body {
  margin: 0;
}
.navbar {
  position: fixed;
  top: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
}
.denemep {
  padding-right: 40px;
  text-align: right;
  font-family: "Borel", cursive;
  font-family: "Poppins", sans-serif;
  line-height: 300%;
  margin: 0;
}
